.contact__box{
    position: relative;
}

.contact__box--container-2{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contact__box--container-1{
    width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}