.header__navigation{
	padding: 10px;
}

.header__navigation:hover input {
	width: 120px;
}

.header__navigation:hover i{
	transform: rotate(-360deg);
}


@media (min-width: 768px) {
	.header__navigation input {
		width: 220px;
	}

	.header__navigation:hover input {
		width: 220px;
	}

	.header__navigation:hover i{
		transform: rotate(0deg);
	}
  }