.header__bttn{
    height: 40px;
    width: 133px;
    font-family: var(--base-font);
    font-weight: 600;
    color: var(--color-blue);
    border-radius: 10px;
    font-size: 14px;
    border: 1px solid;
}

@media screen and (min-width: 1024px){
    .header__bttn{
        width: 182px;
        height: 51px;
        font-weight: 400;
        font-size: 16px;
    }
}