.header__navigation--bar{
    outline: none;
    box-sizing: border-box;
    height: 39px;
    width: 0px;
    padding: 0 7px;
    color: #000;
    border-radius: 50px;
    font-size: 16px;
    border: 1px solid var(--color-blue);
    transition: all .7s ease;
}