.banner__container{
    width: 328px;
    height: 98px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
    .banner__container{
        width: 704px;
        height: 159px;
    }    
}

@media screen and (min-width: 1024px) {
    .banner__container{
        width: 1136px;
        height: 170px;
    }    
}