.line__product{
    width: 91vw;
    height: 692px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

@media screen and (min-width: 768px) {
    .line__product{
        height: 0%;
    }
}

@media screen and (min-width: 1024px) {
    .line__product{
        width: 80vw;
    }
}