.banner{
    width: 100vw;
    background: url(/assets/img/banner.png) no-repeat center;
    background-size: cover;
    height: 192px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

@media screen and (min-width: 768px) {
    .banner{
        height: 352px;
    }    
}

@media screen and (min-width: 1024px) {
    .banner{
        background: url(/assets/img/bannerReal.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }    
}
