.header{
    width: 100vw;
    height: 72px;
    display: flex;
    justify-content: center;

}

.header__container{
    width: 100vw;
    height: 72px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media screen and (min-width: 768px){
    .header__navigation{
        order: 2;
    }

    .header__bttn{
        order: 3;
    }
}

@media screen and (min-width: 1024px){
    .header__container{
        width: 1136px;
        height: 115px;
        justify-content: space-between;
        align-items: center;
    }

    .header{
        height: 0%;
    }
}