.login__items:focus+.login__label{
    transform: translateY(-1rem);
    transition: .5s;
    font-size: 13px;
    color: var(--color-blue);
   
}

.login__items:focus{
    border-bottom: 1px solid var(--color-blue);
}
